<p id="notice"><%= notice %></p>
<div class="clear"></div>
<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Link:</b>
  <%= @event.link %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<div class="clear"></div>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
