#banner.grid_17.alpha
  #slider
    %ul
      %li
        .tab
          %h2 Live Now
          - @live_now.each do |e|
            %p 
              = "- " + e.title
              = "~ " + e.description
          
          
      
      %li
        .tab
          %h2 Comming up NEXT!
          - @upcomming_events.each do |e|
            %p 
              = "- " + e.title
              = "~ " + e.description
                
.clear

#main-content-index.grid_17.alpha
  %h2 Last events submited
  - @latest_submited_events.each do |e|
    %p 
      = "- " + e.title
      = "~ " + e.description
  

  #paginate
    = will_paginate @latest_submited_events