%p
  Your local time is:
  = Time.now.strftime("%B %d, %Y - %I:%M %p")
.clear

#banner.grid_17.alpha
  #slider
    %ul
      %li
        .tab
          %h2 Live Now
          - @live_now.each do |e|
            %p 
              = "- " + e.title
              %a{ :href=>"#{e.link}", :target=>"_blank" } go to envent's page
              = e.slider_date
      
      %li
        .tab
          %h2 Comming up NEXT!
          - @next_events.each do |e|
            %p 
              = "- " + e.title
              %a{ :href=>"#{e.link}", :target=>"_blank" } go to envent's page
              = e.slider_date
                
.clear

#main-content-index.grid_17.alpha
  %h2 Upcomming Events
  %ul
    - @upcoming_events.each do |e|
      %li.event 
        %h3= e.title
        %p
          = e.description
          %a{ :href=>"#{e.link}", :target=>"_blank" } go to envent's page
          = e.listing_date

  #paginate
    = will_paginate @upcoming_events
