!!! Strict
%html
  %head
    %title Seven Boxes
    = stylesheet_link_tag :all
    = csrf_meta_tag
  %body.container_24
    #header
      .logo
        %h1= link_to "7 Boxes", root_path
      .usernav
        - if user_signed_in?
          Signed in as
          = current_user.email
          Not you?
          = link_to "Sign out", destroy_user_session_path
        - else
          = link_to "Sign up", new_user_registration_path
          or
          = link_to "Sign in", new_user_session_path
        
    %div{ :class=>"notice"}= notice
    %div{ :class=>"alert"}= alert
  
    #content
      = yield

    = javascript_include_tag 'jquery'
    = javascript_include_tag 'slider'
    = javascript_include_tag 'application'