!!! Strict
%html
  %head
    %title Seven Boxes
    = stylesheet_link_tag :all
    = csrf_meta_tag
  %body.container_24
    #header
      .logo
        %h1= link_to "7 Boxes", root_path
      .usernav
        - if user_signed_in?
          Signed in as
          = current_user.email
          Not you?
          = link_to "Sign out", destroy_user_session_path
        - else
          = link_to "Sign up", new_user_registration_path
          or
          = link_to "Sign in", new_user_session_path
        
    %div{ :class=>"notice"}= notice
    %div{ :class=>"alert"}= alert
  
    #content.grid_24
      #main-content.grid_17.alpha
        = yield
        
      #social.grid_7.omega
        %h2
        %a{ :href=>"#" }
          %img{ :src=>"/images/icons.gif" }
          rss
        %h2
          %a{ :href=>"#" }
            twitter
            

    
      #sidebar.grid_7.omega
        %h2 Latest tweets

        %p @sevenboxes this is one tweet so you can write anything here.
        %p @sevenboxes this is one tweet so you can write anything here.
        %p @sevenboxes this is one tweet so you can write anything here.
        %p @sevenboxes this is one tweet so you can write anything here.
        %p @sevenboxes this is one tweet so you can write anything here.
        %p @sevenboxes this is one tweet so you can write anything here.
        %p @sevenboxes this is one tweet so you can write anything here.


      
    #footer
      .contact.grdid_7.omega
        %p
          = "- contact "
          %a{ :href=>"http://twitter.com/uokesita", :target=>"_blank" } @uokesita
      
      
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'slider'
    = javascript_include_tag 'application'