!!! Strict
%html
  %head
    %title Seven Boxes
    = stylesheet_link_tag :all
    = csrf_meta_tag
  %body.container_24
    #header
      .logo
        %h1= link_to "7 Boxes", root_path
      .usernav
        - if user_signed_in?
          Signed in as
          - if current_user.twitter_handle? 
            = "#{current_user.twitter_handle}"
          - else 
            = "#{current_user.email}"
          Not you?
          = link_to "Sign out", destroy_user_session_path
          = link_to "Sign out", '/user/sign_out/twitter'
          %br
          %a{ :href=>"#", :id=>"myactions" }My actions
          #actions
            %h2
              %img{ :src=>"/images/profile.png" }
              = link_to "Edit my profile", edit_user_registration_path
            %h2
              %img{ :src=>"/images/add.png" }
              = link_to 'I Want To Post a New Event', new_event_path
            %h2
              %img{ :src=>"/images/my_events.png" }
              = link_to 'My events', events_path
            - if !current_user.twitter_handle?
              %h2
                = link_to 'Connect your account to twitter', '/user/connect/twitter'
        - else
          = link_to "Sign up", new_user_registration_path
          or
          = link_to "Sign in", new_user_session_path
          or
          = link_to( "Login With Twitter", '/user/sign_in/twitter', :method => :post )
         
        
    %div{ :class=>"notice"}= notice
    %div{ :class=>"alert"}= alert
  
    #content.grid_24
      #main-content.grid_17.alpha
        = yield
        
      #social.grid_7.omega
        %h2
          %a{ :href=>"#" }
            %img{ :src=>"/images/icons.gif" }
            rss
        %h2
          %a{ :href=>"#" }
            twitter
            

    
      #sidebar.grid_7.omega
        %h2 Latest tweets

        %p @sevenboxes this is one tweet so you can write anything here.
        %p @sevenboxes this is one tweet so you can write anything here.
        %p @sevenboxes this is one tweet so you can write anything here.
        %p @sevenboxes this is one tweet so you can write anything here.
        %p @sevenboxes this is one tweet so you can write anything here.
        %p @sevenboxes this is one tweet so you can write anything here.
        %p @sevenboxes this is one tweet so you can write anything here.


      
    #footer
    
    = javascript_include_tag 'prototype'
    = javascript_include_tag 'jquery'   
    %script{ :type=>"text/javascript" }
      jQuery.noConflict();
    
    = javascript_include_tag 'slider'
    = javascript_include_tag 'application'

    = javascript_include_tag 'rails'
